doctype 5
html
  head
    link(href='/css/style.css', rel='stylesheet')
    meta(name='viewport', content='width=320; initial-scale=1.0;')
    script(src='http://code.jquery.com/jquery-1.6.4.min.js')
    script(src='/js/jquery.cookie.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/ui.js')
      
  body
    #chat
      form#botname-expand
        button#botname-expand-btn Show Login
      #botname
        form.wrap#set-botname
          p Please type in your longish bot name and press enter.
          input#nick
          #botnames
          p#botname-err Network Error or bot name too short (20 characters or more)          
      #messages        
        #lines
      form#send-message
        input#message
        button Chat      

      #network

    #buttons
      form#email-messages
        button Send Email
      form#new-line
        button New Line
      form#del-last-input
        button Remove Last Input
      form#clear-messages
        button Clear Messages
