doctype 5
html
  head
    link(href='/css/style.css', rel='stylesheet')
    meta(name='viewport', content='width=320; initial-scale=1.0;')
    script(src='http://code.jquery.com/jquery-1.6.4.min.js')
    script(src='/js/jquery.cookie.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/ui.js')
      
  body
    #chat
      #nickname
        form.wrap#set-nickname
          p Please type in your longish botname and press enter.
          input#nick
          p#nickname-err Network Error      
      #messages
        #nicknames
        #lines
      form#send-message
        input#message
        button Chat

      form#clear-messages
        button Clear

    #buttons
      form#email-messages
        button Email
