body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#chat {
    float: left;
}

#buttons {
    float: right;
}

#botnames {
    float: right;
}
#nickname-err {
    visibility: hidden;
}