body {
    padding: 30px;
    font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#chat {
    float: left;
}
#lines {
    font-size: 16px;
}
#buttons {
    float: right;    
}
#buttons button {
    width: 100px;
}
#nick {
    width: 250px;
}
#botname {
    border: gray solid 1px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    
    border-radius: 5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;

    -moz-box-shadow: 3px 3px 3px #888;
    -webkit-box-shadow: 3px 3px 3px #888;
    box-shadow: 3px 3px 3px #888;
}

#botnames {
    float: right;
}
#nickname-err {
    visibility: hidden;
}
