body {
    padding: 1px;
    font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#chat {
    float: left;
}
#lines {
    font-size: 16px;
}
#buttons {
    float: right;    
}
#buttons button {
    width: 140px;
}
#nick {
    width: 280px;    
}
#loginpanel {    
    float: left;
    border: gray solid 1px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;    
    padding-bottom: 5px;
    
    border-radius: 5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}

#botnames {
    float: right;
}
#nickname-err {
    visibility: hidden;
}

#set-botname {    
    padding-top: 5px;    
}

#login-err {
    color: orange;
}

#lines {
    width: 300px;
    height: 250px;
}

#message {
    width: 250px;
}